
Project3_DecisionTree/utils.py
Project3_DecisionTree/project3.ipynb
Project3_DecisionTree/p3library.ipynb
Project3_DecisionTree/car_data.csv
Project3_DecisionTree/__pycache__/utils.cpython-311.pyc
Project3_DecisionTree/.idea/Project3.iml
Project3_DecisionTree/.idea/modules.xml
Project3_DecisionTree/.idea/misc.xml
Project3_DecisionTree/.idea/inspectionProfiles/profiles_settings.xml
Project1/Project1-JF6FZ.zip
Project1/JF6FZ_Project1_Report.docx
Project2/Project2-JF6FZ.zip
*.docx
